name: Update content from upstream (NIST and FedRAMP)

on: workflow_dispatch

env:
  FEDRAMP_PROFILE_NAME: "fedramp_rev5_high"
  NIST_CATALOG_NAME: "nist_rev5_800_53"
  FEDRAMP_REPO_REF: "master"
  NIST_REPO_REF: "690f517daaf3a6cbb4056d3cde6eae2756765620"

jobs:
  update:
    name: Update content
    runs-on: ubuntu-latest
    container:
      image: quay.io/continuouscompliance/trestle-bot:0.5.0
    steps:
      - name: Generate app token
        uses: tibdex/github-app-token@v2.1.0
        id: get_installation_token
        with: 
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
          permissions: >-
            {"contents": "write", "pull_requests": "write"}
      - name: Clone
        uses: actions/checkout@v4
        with:
          token: ${{ steps.get_installation_token.outputs.token }}
      - name: Update catalogs
        run: |
          rm -rf "catalogs/${NIST_CATALOG_NAME}"
          trestle import -f "https://raw.githubusercontent.com/usnistgov/oscal-content/${NIST_REPO_REF}/nist.gov/SP800-53/rev5/json/NIST_SP-800-53_rev5_catalog.json" -o "${NIST_CATALOG_NAME}"
      - name: Update profiles
        run: |
          rm -rf "profiles/${FEDRAMP_PROFILE_NAME}"
          trestle import -f "https://raw.githubusercontent.com/GSA/fedramp-automation/${FEDRAMP_REPO_REF}/dist/content/rev5/baselines/json/FedRAMP_rev5_HIGH-baseline_profile.json" -o "${FEDRAMP_PROFILE_NAME}"
          trestle href --name "${FEDRAMP_PROFILE_NAME}" -hr "trestle://catalogs/${NIST_CATALOG_NAME}/catalog.json"
      - name: Update content
        uses: peter-evans/create-pull-request@v5.0.2
        with:
          base: main
          branch: "oscal-update-${{ github.run_id }}"
          delete-branch: true
          commit-message: "Update OSCAL content from upstream"
          title: "Update upstream OSCAL content from usnistogv and GSA"
          token: ${{ steps.get_installation_token.outputs.token }}
          body: |
            Updates upstream OSCAL content
            - usnistgov NIST 800-53
            - GSA FedRAMP OSCAL profiles
          
            Auto-generated by the `update-upstream` workflow.
          add-paths: |
            "catalogs/${NIST_CATALOG_NAME}"
            "profiles/${FEDRAMP_PROFILE_NAME}"